# Xcode noise
objective-c/**/*.xcworkspace/xcuserdata/*
objective-c/**/*.xcodeproj/xcuserdata/*
objective-c/**/*.xcodeproj/project.xcworkspace/*
*.pbxuser
*.mode1v3
*.mode2v3

# OS X & vim noise
.DS_Store
*.swp
